*{
  margin: 0;
  padding: 0;

}

body{
  font-family: 'Ubuntu', sans-serif;
  background: #333;
  line-height: 1.6;
  height: 100vh;
}


.container{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.container::-webkit-scrollbar {
    display: none;
}
.container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.navbar{
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.6);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}
span{
  color: #3CB371;
}
.navbar ul li a:hover {
  color: #3CB371;
}
.active{
  color:black;
}
section {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center;
  text-align: center; */
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

section#home a{
  /* font-size: 4.5rem; */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}
section#home h2{
  font-size: 7rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #3CB371;
  /* background: #333; */
  /* padding: 50px; */
}
section#home p{
  font-size: 2.5rem;
  text-align: center;
  padding: 50px;
  color: white;
  /* background: #333; */
}
section#home p span{
  color:#3CB371;
  font-size: 2.8rem;
}
section#more h1{
  font-size: 7rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px;
  color: #333;
}






/* section#home {
  background: url('images/circutloop.gif') no-repeat center center/cover;
}
section#intro {
  background: url('images/webdev.jpg') no-repeat center center/cover;
} */
section#more {
  /* background: url('images/kebo.jpg') no-repeat center center/cover; */
  background: #3CB371;
}

.about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding-top: 100px; */
}

.projects{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Ubuntu",sans-serif;
  font-size: 3rem;
  color: white;
  /* font-weight: bold; */
}
.about img:hover {
  box-shadow: 0 0 11px rgb(1,1,1);
}

.projects img:hover {
  box-shadow: 0 0 11px rgb(1,1,1);
}
